package {{package}}

import io.ktor.resources.Resource
import kotlinx.serialization.Serializable
{{#imports}}
import {{import}}
{{/imports}}

{{#operations}}
{{#operation}}
/**
 * {{summary}}
 * {{httpMethod}} {{{path}}}{{#hasBodyParam}}
 * @param body {{#bodyParams}}[{{dataType}}]{{/bodyParams}}{{/hasBodyParam}}{{#returnType}}
 * @return [{{returnType}}]{{/returnType}}
 */
@Serializable
@Resource("{{{path}}}")
{{#pathParams}}
data class {{operationIdCamelCase}}({{#pathParams}}val {{paramName}}: {{dataType}}{{#-last}}{{/-last}}{{^-last}}, {{/-last}}{{/pathParams}})
{{/pathParams}}
{{^pathParams}}
object {{operationIdCamelCase}}
{{/pathParams}}

{{/operation}}
{{/operations}}
